*{margin:0; padding:0; box-sizing: border-box; text-decoration: none; color: #fff; }
body{overflow-x: hidden; }

/* -----------------------------------Top Bar--------------------------------- */
.top-bar {width: 100%; height: 40px; padding: 12px 0px; background-color: #191919; }
.top-bar-contents {max-width: 1170px; margin: 0px auto; display: flex; justify-content: space-between; }
.top-bar-contents:hover {cursor: default; }

.top-bar-contents-start a {margin-right: 10.5px; color: #707070; font-weight: 400; font-size: 16px; }

.top-bar-contents-end {font-family: "Montserrat"; display: flex; }
.button-top{display: flex; justify-content: center; }
.button-top:hover {cursor: pointer; }
.top-bar-contents-end .top-icons {font-size: 18px; color: #707070; }
.top-bar-contents-end .top-vertical-bar {width: 1px; height: 20px; margin: -1px 14px 0px 14px; background-color: #707070; }
.top-bar-contents-end .top-texts {font-size: 12px; font-weight: 600; margin: 1.5px 0px 0px 6px; color: #707070; }
.top-bar-contents-end .arrow-down {font-weight: 600; margin: 0px 0px 3px 3px;color: #707070; }

/* -----------------------------------Header--------------------------------- */
.head-bar {width: 100%; height: max-content; background-image: linear-gradient(0deg, rgba(33,33,33,0.871), rgba(33,33,33,0.871)), url("images/header-back.png"); background-repeat: no-repeat; background-position: center; background-size: cover; color: #212121; }
.head-bar-content {margin: auto; max-width: 1172px; }

.head-bar-nav {height: 70px; width: 100%; font-family: "Montserrat"; padding-top: 17px; }
.head-bar-nav:hover {cursor: default; }

.pasco {font-size: 24px; margin-top: 0.5px; font-weight: 700; height: max-content; letter-spacing: 2px; cursor: pointer; float: left; }

.head-bar-nav-mid {margin: 8px 0px 0px 95px; max-width: max-content; float: left; }
.cool-menu {height: 44px; display: inline-block; font-family: "Montserrat"; font-weight: 700; font-size: 14px; margin-left: 11px; }
.cool-menu:hover {cursor: pointer; border-bottom: 4px solid #ff4081; }
.cool-menu>a {padding: 0px 0px 23px 13px; }
.cool-menu>a>i {margin-left: 12px; font-weight: 700; font-size: 14px; }
.selected {border-bottom: 4px solid #ff4081; }

.head-bar-nav-icons {height: 29px; float: right; margin-top: 6px; display: flex; }
.head-bar-nav-icons .nav-icons {cursor: pointer; margin: 0px 10px 0px 11px; }
.head-bar-nav-icons .last-icon  { margin: 0px 14px; }
.head-bar-nav .nav-bar {width: 1px; height: 30px; background-color: #707070; display: inline-block; margin-top: -3px; }

.head-bar-mid {margin-top: 212.5px; text-align: center; padding-left: 3px; font-family: "Montserrat"; }
.head-bar-mid > h2 {color: #aeaeae; font-size: 21px; font-weight: 400; }
.head-bar-mid > p {font-size: 42px; font-weight: 700; margin: 13.5px 0px 29.5px 4px; letter-spacing: 0.09rem; }
.head-bar-mid > button {border: 0.3px solid rgb(95, 142, 172); cursor: pointer; font-size: 18px; padding: 10.3px 26px; background-color: #303f9f; border-radius: 25px; font-family: 'Montserrat'; }

.head-bar-bottom {margin: 79.5px 3px 0 0; }
.head-bar-bottom > * { font-family: 'Montserrat';}
.head-profile-pic {display: block; width: 50px; margin: auto; }
.head-profile-name {font-size: 14px; font-weight: 700; letter-spacing: 0.04rem; margin-top: 17px; }
.date-text {font-size: 12px; font-weight: 400; margin-top: 9px; word-spacing: 1.5px; letter-spacing: 0.03rem; }

/* ----------------------------------- Contents------------------------------ */
.content-nav {width: 100%; height: 60px; background-color: rgb(172, 123, 123); }