*{margin:0; padding:0; box-sizing: border-box; text-decoration: none; font-family: 'Montserrat'; }
a, button {cursor: pointer; }
a {color: inherit; }

/* -----------------------------------top bar--------------------------------- */
.top-bar * {color: #fff; }
.top-bar {padding-top: 11px; padding-bottom: 9px; background-color: #191919; }
.top-bar-contents {max-width: 1170px; margin: 0px auto; display: flex; justify-content: space-between; }
.top-bar-contents:hover {cursor: default; }

.top-bar-contents-start a {margin-right: 10.5px; color: #707070; }

.top-bar-contents-end {display: flex; margin-top: 1px; }
.top-bar-contents-end * {color: #707070; }
.button-top{display: flex; }
.top-bar-contents-end .top-icons {font-size: 18px; }
.top-bar-contents-end .top-vertical-bar {width: 1px; height: 20px; margin: 0px 14px 0px 14px; background-color: #707070; transform: translateY(-1px); }
.top-bar-contents-end .top-texts {font-size: 12px; font-weight: 600; margin: 1.5px 0px 0px 6px; }
.top-bar-contents-end .arrow-down {font-weight: 600; margin: 0px 0px 3px 3px; }

/* -----------------------------------head-bar--------------------------------- */
.head-bar * {color: #fff; }
.head-bar {background-image: linear-gradient(0deg, rgba(33,33,33,0.871), rgba(33,33,33,0.871)), url("images/header-back.png"); background-repeat: no-repeat; background-position: center; background-size: cover; color: #212121; }
.head-bar-content {margin: auto; max-width: 1170px; padding-bottom: 66.5px; }

.head-bar-nav {padding-top: 17px; overflow: hidden; }

.pasco {font-size: 24px; margin-top: 0.5px; font-weight: 700; letter-spacing: 2px; float: left; }

.head-bar-nav-mid {margin: 8px 0px 0px 94px; float: left; }
.cool-menu {height: 44px; display: inline-block; font-weight: 700; font-size: 14px; margin-left: 11px; }
.cool-menu:hover {border-bottom: 4px solid #ff4081; }
.cool-menu> a {padding: 0px 0px 23px 13px; }
.cool-menu> a > i {margin-left: 12px; font-weight: 700; font-size: 14px; }
.selected {border-bottom: 4px solid #ff4081; }

.head-bar-nav-icons {float: right; display: flex; margin-top: 3px; }
.head-bar-nav-icons .head-nav-icons {border-right: 1px solid #707070; padding: 3px 10px 0px 12px; }
.head-bar-nav-icons .last-icon  { border: none; margin-right: 3px; padding-left: 14px; }

.head-bar-mid {margin-top: 211px; margin-left: 3px; text-align: center; }
.head-bar-mid > h3 {color: #aeaeae; font-size: 21px; font-weight: 400; }
.head-bar-mid > h1 {font-size: 42px; font-weight: 900; margin: 12.5px auto 30px auto; letter-spacing: 0.84px; width: 72%; padding-left: 7px; }
.head-bar-mid > button {border: none; font-size: 18px; padding: 12px 29px 10px 25px; background-color: #303f9f; border-radius: 25px; }

.head-bar-bottom {text-align: center; margin-top: 81px; overflow: hidden; }
.head-bar-bottom > a {margin-left: auto; margin-right: auto; display: block; width: fit-content; }
.head-profile-pic {width: 50px; margin-right: 2px; }
.head-profile-name {font-size: 14px; font-weight: 700; letter-spacing: 0.6px; margin-top: 12px; padding-left: 1px; }
.profile-date {font-size: 12px; font-weight: 600; margin-top: 9px; letter-spacing: 0.5px; padding-left: 2px; color: #8c8c8c; }

.head-bar-bottom-links {margin: 29px auto 0px auto; justify-content: center; }
.head-bar-social-list {margin: auto; display: inline-block; padding-right: 8px; }
.head-bar-social-list > a {font-size: 12px; font-weight: 500; }
.head-bar-social-list > a > * {color: #bebebe; }
.head-bar-social-list > a:not(:first-child) {margin-left: 31px; }
.head-bar-social-list > a > i {font-size: 16px; margin-right: 7px; transform: translateY(3px); }
#icon-likes {margin-right: 5px; }

/* ----------------------------------- Contents------------------------------ */
.content-bar {margin-top: 1px; background-color: #f5f5f5; }
.content-bar > * {color: black; background-color: #fff; }

.content-nav {filter: drop-shadow(0px 1px 0px #dddddd); padding: 14px 0px 15px 0px; }
.content-nav-main {width: 1170px; margin: auto; }
.content-nav-sort {font-weight: 700; font-size: 12px; margin-right: 9px; float: left; margin-top: 8px; }
.content-nav-list-item {display: inline-block; font-size: 12px; border-radius: 19px; background-color: #f5f5f5; color: #434343; padding: 8px 30px 7px 26px; font-weight: 600; cursor: pointer; margin-left: 11px; margin-right: 0px; }
.content-nav-list-item:hover {background-color: #fff; border: 1px solid #3f51b5; color: #3f51b5; padding: 7.2px 29.2px 6.2px 25.2px; }
.sort-selected {background-color: #fff; border: 1px solid #3f51b5; color: #3f51b5; padding: 7.2px 29.2px 6.2px 25.2px; }

.content-main {width: 820px; margin-top: 28px; background-color: #f5f5f5; }

.post-big {border-radius: 7px; background-color: #fff; }
.post-big-img {color: #fff; border-radius: 7px 7px 0px 0px; background-image: url("images/post-big-content.jpg"); background-repeat: no-repeat; background-position: center; height: 420px; width: 820px; padding: 22% 15px 15px 15px; display: flex; flex-direction: column; justify-content: end; }
.post-big-img > a  {display: inline-block; margin: 0px auto; }
.post-big-img > a > i {font-size: 55px; }
.post-big-img-bottom {display: flex; justify-content: space-between; margin-top: 18%; }
.post-big-img-bottom > .image-left > a {font-size: 12px; }
.post-big-img-bottom > .image-right > a >  i {font-size: 16px; margin-right: 5px; transform: translatey(2px); }
.post-big-content {padding: 10px 15px; padding-right: 20px; border-bottom: solid #f5f5f5 3px; color: #212121; }
.post-big-content > p {color: #3f3f3f; }
.post-big-info { padding: 15px; width: 100%; display: inline-block; }
.post-profile-pic {background-image: url("/images/post-big-profile.png"); height: 49px; width: 49px; background-repeat: no-repeat; background-position: center; border-radius: 50%; float: left; }
.post-profile-info {color: inherit; float: left; display: flex; flex-direction: column; width:auto; margin-left: 10px; }
.post-profile-name {margin-top: 7px; }
.post-profile-date {margin-top: 7px; }
.post-profile-options {width: 0px; height: 20px; border-left: 4px solid #212121; border-right: 0px; border-top: 0px; border-bottom: 0px; border-style: dotted; float: right; margin-top: 15px; }